extends layout

block content
  .inner__home
    .header__section--text
      h5 How To Play
      p ****Work-In Progress****
      p Before the game starts, pick a team you think will win and guess the total game points
      p Correct team picks are worth 3 points
      p You get points for total game score based on how close your pick is to the actual game score sum
