@import url('https://fonts.googleapis.com/css?family=Open+Sans|Source+Sans+Pro');

html {
  font-size: 11px;
}

body {
  font-size: 1.5rem;
  color: $black;
  font-family: 'Open Sans', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
  {
  font-size: 3rem;
  font-family: 'Source Sans Pro';
  font-weight: 600;
}

a {
  text-decoration: none;
  color: $black;
}

p a {
  border-bottom: 2px solid $yellow;
}

p {
  line-height: 2;
  font-size: 1.6rem;
}