.inner__home {
  max-width: 1000px;
  margin: auto;

  @media screen and (max-width: 1020px) {
    margin: 15px 20px;
  }

  @media screen and (min-width: 600px) {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.header__section--text {
  margin-bottom: 30px;
  max-width: 600px;

  // @media screen and (min-width: 600px) {
  //   width: 600px;
  // }

  & h5 {
    margin-top: 25px;
    margin-bottom: 10px;
    line-height: 1.5;
  }

  & .sarcasm {
    padding-left: 50px;
    color: $primary;
    font-weight: 600;
  }
}

.explaination {
  &__title {
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 2.5rem;
    line-height: 1.3;
  }

  &__content {
    font-size: 1.5rem;
    line-height: 1.4;

    & span {
      font-size: 1.3rem;
      margin-top: 10px;
      display: block;
      color: #5a5a5a;
    }
  }
}

.section {
  background-color: #effcf6;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='28' height='49' viewBox='0 0 28 49'%3E%3Cg fill-rule='evenodd'%3E%3Cg id='hexagons' fill='%23199473' fill-opacity='0.26' fill-rule='nonzero'%3E%3Cpath d='M13.99 9.25l13 7.5v15l-13 7.5L1 31.75v-15l12.99-7.5zM3 17.9v12.7l10.99 6.34 11-6.35V17.9l-11-6.34L3 17.9zM0 15l12.98-7.5V0h-2v6.35L0 12.69v2.3zm0 18.5L12.98 41v8h-2v-6.85L0 35.81v-2.3zM15 0v7.5L27.99 15H28v-2.31h-.01L17 6.35V0h-2zm0 49v-8l12.99-7.5H28v2.31h-.01L17 42.15V49h-2z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 175px;
  width: 100%;
  margin: 0;
  margin-bottom: 30px;
  margin-top: 20px;
  box-shadow: $shad;
  max-width: 1100px;

  &__text {
    background: hsla(161, 41%, 80%, 0.55);
    text-align: center;
    line-height: 1.7;
  }

  &__buttons {
    margin: 10px 0;
    display: flex;
    align-items: center;
    justify-content: center;

    &--middle {
      margin: 0;
      line-height: 1;
      font-size: 1.3rem;
      padding: 10px;
      background: hsla(161, 41%, 80%, 0.55);
    }
  }
}

.landingAction {
  margin-top: 0;
  padding: 10px;

  &__login {
    background: hsl(163, 100%, 95%);
    color: #199473;
    border: 2px solid #199473;
  }
}

.landing {
  display: flex;
  flex-direction: column;
}

.returning {
  align-self: center;
  justify-self: center;
}

.welcome {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 15px;
  max-width: 350px;
  background: white;
  border-radius: $radius;

  & p {
    font-size: 1.5rem;
    margin-top: 0;
    margin-bottom: 10px;
  }

  &__bracket {
    border: 2px solid $primary;
    border-radius: $radius;
    padding: 3px;
    background: hsl(163, 100%, 95%);
    color: #199473;
  }
}